.container {
  display: flex;
  justify-content: space-between;
  margin: 0 25% 0 5%;
}

.container input {
  padding: 6px;
  border-radius: 14px;
  border: 1px solid #333;
  margin-right: 12px;
  background-color: #d7ffe9;
}

.container select {
  padding: 6px;
  border: 1px solid #333;
  border-radius: 14px;
  background-color: #d7ffe9;
}

.container option {
  background-color: #d7ffe9;
}
